<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td>Track</td>
            <td>Artist</td>
            <td>Album</td>
        </tr>
    </thead>
    <tbody>
    {% for track in resultado %}
        <tr onclick="return openSelectedResult('{{track.uri}}')">
            <td><img src="{{track.album.images.0.url}}" width="50" height="50"/></td>
            <td>{{ track.name }}</td>
            <td>{{track.artists.0.name}}</td>
            <td>{{track.album.name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>