<div>
    <form id="busqueda" action="/buscar" method="GET">
        <input type="search" id="searchTerm" placeholder="track name" />
        <input type="submit" value="buscar" onclick="search()"/>
    </form>
</div>